html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

/* main canvas */
.stage {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: #000;
}

/* ASCII animation */
#trace {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  white-space: pre;
  user-select: none;
  text-align: left;
  margin: 0;
  cursor: pointer;
}


/* bottom-left identity block */
.idblock {
  position: absolute;
  left: 48px;
  bottom: 44px;
  color: white;
}
